* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.create-box {
  background-color: white;
  width: 1100px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.create-grapes {
  width: 800px;
  cursor: pointer;
}

.create-wm {
  width: 800px;
  cursor: pointer;
}
