* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}

.main-container-CG {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.create-box-CG {
  background-color: #f6f4fb;
  width: 1100px;
  height: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  border: 1px solid darkgray;
  padding: 60px;
}

.HT {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 550px;
}

.HT-Text {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  width: 300px;
  padding: 30px;
  height: 500px;
  border: 1px solid darkgray;
  gap: 30px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-box {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid darkgray;
  height: 80px;
  padding: 10px;
  color: rgb(84, 84, 84);
  border-radius: 5px;
}

.date-box {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid darkgray;
  height: 40px;
  padding: 10px;
  color: rgb(84, 84, 84);
  border-radius: 5px;
}

.btn-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.saveBtn {
  width: 120px;
  height: 60px;
  background-color: #578ef5;
  color: white;
  font-size: 20px;
  border: 1px solid #578ef5;
  border-radius: 5px;
  margin-left: auto;
  margin-top: 80px;
}
