* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}

.logo img {
  width: 300px;
  background-color: transparent;
}

.header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid darkgray;
}

.header > div {
  background-color: white;
}

.head_a {
  background-color: transparent;
}

button:hover {
  background-color: rgb(178, 185, 180);
  cursor: pointer;
}

/*헤더 디자인*/

section.join_form {
  background-color: white;
  width: 450px;
  height: 550px;
  border-radius: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.join_form h1 {
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
}

.id_pw_area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.id_pw {
  width: 380px;
  position: relative;
  padding: 5px;
  left: 3px;
  margin-top: 10px;
}

.id_pw.input_with_button {
  display: flex;
  gap: 10px;
}

.id_pw input {
  width: 100%;
  height: 50px;
  font-size: 25px;
  outline: none;
}

.id_pw button {
  height: 50px;
  padding: 0 10px;
  font-size: 18px;
  background-color: rgb(157, 157, 157);
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.id_pw button:hover {
  background-color: rgb(210, 169, 198);
}

.id_pw label {
  position: absolute;
  left: 10px;
  top: 22.5px;
  font-size: 15px;
  color: darkgrey;
  transition: 0.3s;
}

.id_pw input:focus + label {
  font-size: 10px;
}

.id_pw input:valid + label {
  color: transparent;
}

.btn_area {
  width: 380px;
  padding-left: 1.5px;
}

.join_btn {
  width: 100%;
  height: 50px;
  margin-left: 7px;
  background-color: rgb(110, 36, 133);
  color: white;
  font-size: 20px;
  border: 0;
  padding: 5px;
  margin-top: 5px;
}

.join_info {
  width: 380px;
  margin-left: 7px;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
  text-align: left;
}

#checkbtn {
  border: 1px solid rgb(79, 79, 79);
  border-radius: 2px;
  width: 80px;
  height: 30px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 370;
}
