* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(245, 245, 245);
}

.logo img {
  width: 300px;
  background-color: transparent;
}

.header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid darkgray;
}

.header > div {
  background-color: white;
}

.head_a {
  background-color: transparent;
}

button:hover {
  background-color: rgb(178, 185, 180);
  cursor: pointer;
}
/*헤더디자인*/

/*로그인폼디자인*/
section.login-form {
  background-color: white;
  width: 450px;
  height: 550px;
  border-radius: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
}

.join-find {
  display: flex;
  justify-content: space-between;
  width: 380px;
  padding: 5px;
  padding-left: 5px;
}

section.login-form h1 {
  font-size: 35px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.id-pw {
  width: 95%;
  position: relative;
  padding: 5px;
  left: 0px;
}

.id-pw input {
  width: 100%;
  height: 50px;
  font-size: 25px;
  outline: none;
  margin-bottom: 20px;
}

.id-pw label {
  position: absolute;
  left: 10px;
  top: 22.5px;
  font-size: 15px;
  color: darkgrey;
  transition: 0.3s;
}

.id-pw input:focus + label {
  font-size: 10px;
}

.id-pw input:valid + label {
  color: transparent;
}

.btn-area {
  width: 95%;
  padding-left: 0px;
}

.log_btn {
  width: 350px;
  height: 50px;
  margin-left: 7px;
  background-color: rgb(110, 36, 133);
  color: white;
  font-size: 20px;
  border: 0;
  padding: 5px;
  margin-top: 0px;
}

.gojoin-btn {
  cursor: pointer;
  margin-top: 30px;
  font-size: 18px;
}
