* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(
    100vh - 80px
  ); /* 헤더 높이 때문에 나중에 목록 있으면 수정해야 함 */
}

.create-box {
  background-color: white;
  width: 1100px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.create-img {
  width: 600px;
}

.create-button {
  width: 120px;
  height: 60px;
  font-size: 20px;
  background-color: #578ef5;
  color: white;
  border-radius: 5px;
  border-color: #578ef5;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(178, 185, 180);
  cursor: pointer;
}
